<!doctype html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{.PageTitle}}</title>

        <style>
            {{block "style" .}} {{end}}
        </style>

        <style>
            {{block "theme" .}} {{end}}
        </style>

        <style>
            {{block "custom-style" .}} {{end}}
        </style>

        <script>
            {{block "script" .}} {{end}}
        </script>
    </head>

    <body data-theme="dark">
        {{block "content" .}} {{end}}
    </body>
</html>
