{{define "styles"}}
[disabled] {
    touch-action: none;
    pointer-events: none;

    opacity: 0.25;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
{{end}}
