{{define "content"}}
<main class="is-container">
    <section>
        <details {{if eq (len .SystemUnits) 0}}disabled{{end}}>
            <summary>System Level</summary>
            <ul>
                {{range $unit := .SystemUnits}}
                <li>{{$unit.Name}}</li>
                {{end}}
            </ul>
        </details>
    </section>

    <section>
        <details {{if eq (len .UserUnits) 0}}disabled{{end}}>
            <summary>User Level</summary>
            <ul>
                {{range $unit := .UserUnits}}
                <li>{{$unit.Name}}</li>
                {{end}}
            </ul>
        </details>
    </section>
</main>
{{end}}
