{{define "content"}}
<main class="ui-container">
    {{range $arc := .Arcs}}
    <section>
        <details {{if eq (len $arc.Chapters) 0}}disabled{{end}}>
            <summary
                onclick="
                    var el = this.parentElement;
                    setTimeout(function() {
                        el.scrollIntoView(true);
                    });
                "
            >
                [{{len $arc.Chapters}}] {{$arc.Name}}
            </summary>
            <ul>
                {{range $chapter := $arc.Chapters}}
                <li>
                    <b>{{$chapter.Number}}</b>
                    <i>{{$chapter.Name}}</i>
                </li>
                {{end}}
            </ul>
        </details>
    </section>
    {{end}}
</main>
{{end}}
