{{define "fonts"}}
@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,MONO@-15..0,300..800,1,0..1&display=swap");

html,
body,
.tooltip,
.popover {
    font-family: "Recursive";
    font-variation-settings:
        "MONO" 0,
        "wght" 400;
}

code,
kbd,
pre,
samp,
.text-monospace {
    font-family: "Recursive";
    font-variation-settings:
        "MONO" 1,
        "wght" 350;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

b {
    font-variation-settings: "wght" 700;
}

i {
    font-variation-settings: "slnt" -10;
}
{{end}}
